/* 메인 */
#main {
  margin: auto;
  margin-bottom: 100px;
  border-radius: 20px;
  background-color: #2E004B;
  width: 500px;
  height: 600px;
  text-align: center;
  display:inline-block;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 90%;
  overflow-y: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
  text-align: right;
}

/* 상대방이 보낸 메시지 */
.other {
  margin-right: 50px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
}
