

@charset "UTF-8";
body{
	background-color: #826693;	
}

.boardDetailSection{
	position: absolute;
	top: 16%;	
	right: 8%;
	width: 90%;
}

.boardDetailSection ul li{
	padding-left: 35px;
    text-align: left;
    font-size: 15px;
    height: 84px;
}

.detailTitle:hover, .detailContents:hover{
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	border: 1px solid;
}

.detailTitle{
    height: 39px;
    font-size: 13px;
    color: darkgray;
   	border-bottom: 0.5px solid;
   	border-top: 0.5px solid;
    border-color: lightgray;
	background-color: white;
	display: flex;
}
.detailContents{
	background-color: white;
}
.noticeId, .noticeTitle, .noticeDate {
	float: left;
	font-size: 15px;
    height: 39px;
}

.noticeId{
	width: 10%;
}

.noticeTitle{
	width: 66%;
}

.noticeDate{
	width: 15%;
}

.noticewriter{
	width: 10%;
}

.noticeContents{
	clear: left;
	width: 100%;
    padding-left: 10%;
	border-top: 1px lightgray solid;
	overflow-x:scroll;
    height:300px;
}

.footBtn{
	display: flex;
    justify-content: center;
}