<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.used.mapper.NoticeBoardMapper">

	<select id="getList" resultType="org.used.domain.NoticeBoardVO">
		<![CDATA[
		select * from notice where notice_id > 0 order by notice_id desc
		]]>
	</select>
 
	<insert id="insert">
		insert into notice(	notice_id, notice_title, notice_contents, notice_writer, notice_date)
		values( seq_noticeid.NEXTVAL, #{notice_title}, #{notice_contents}, #{notice_writer}, SYSDATE)
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="notice_id" order="BEFORE" resultType="long">
			select seq_noticeid.NEXTVAL from dual
		</selectKey>
		insert into notice(	notice_id, notice_title, notice_contents, notice_writer, notice_date)
		values( #{notice_id}, #{notice_title}, #{notice_contents}, #{notice_writer}, SYSDATE)
	</insert>

	<select id="read" resultType="org.used.domain.NoticeBoardVO">
		select * from notice where notice_id = #{notice_id}
	</select>
 
 	<delete id="delete">
 		delete from notice where notice_id = #{notice_id}
 	</delete>
 
 	<update id="update">
 		update notice set
 			notice_title = #{notice_title},
 			notice_contents = #{notice_contents},
 			notice_date = SYSDATE
 				where notice_id = #{notice_id}
 	</update>

</mapper>